.clear--boton {
  height: 74px;
  width: 380px;
  border-radius: 20px;
  font-size: 1.6em;
  background-color: chocolate;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 12px;
}

.clear--boton:hover {
  background-color: #E7B10A;
}